.bg-black{
    background-color: black !important;
}

.form-control {
    width: 600px;
}
.width-600px {
    width: 600px !important;
}

.a-divider-break:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}