{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example">
  <!-- Navbar -->
  {% include "nav.html" %}

  <!-- {% for row in rows %} 
        <tr> 
            <td><h3>{{row["FirstName"]}}</h3></td> 
            <td><h3>{{row["LastName"]}}</h3></td>
            <td><h3>{{row["Address"]}}</h3></td>
            <td><h3>{{row["City"]}}</h3></td>
            <td><a href="/GetStudentByID/{{row[0]}}">Edit</a></td>
            <td><a href="/delete/{{row[0]}}">Delete</a></td>
        </tr> 
        {% endfor %}  -->

  <!--Account-->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="" action="/update_account", method="post">

              {{ registered_form.hidden_tag() }} 
    
              <div class="form-row">
                <div class="form-group col-md-10 mb-2">
                  {{ registered_form.first_name.label }} <br> 
                  {{ registered_form.first_name(value=all_items[2][0]["FirstName"])}} <br> 
                  <!-- Error Message -->
                  {% for message in registered_form.first_name.errors %} 
                    <div class="text-danger">{{message}}</div> 
                  {% endfor %} 
                </div>
        
                <div class="form-group col-md-10 mb-2">
                  {{ registered_form.last_name.label }} <br> 
                  {{ registered_form.last_name(value=all_items[2][0]["LastName"])}} <br> 
                  <!-- Error Message -->
                  {% for message in registered_form.last_name.errors %} 
                    <div class="text-danger">{{message}}</div> 
                  {% endfor %} 
                </div>
    
                <div class="form-group col-md-10 mb-2">
                  {{ registered_form.address.label }} <br> 
                  {{ registered_form.address(value=all_items[2][0]["Address"])}} <br> 
                  <!-- Error Message -->
                  {% for message in registered_form.address.errors %} 
                    <div class="text-danger">{{message}}</div> 
                  {% endfor %} 
                </div>
        
                <div class="form-group col-md-10 mb-2">
                  {{ registered_form.phone.label }} <br> 
                  {{ registered_form.phone(value=all_items[2][0]["Phone"])}} <br> 
                  <!-- Error Message -->
                  {% for message in registered_form.phone.errors %} 
                    <div class="text-danger">{{message}}</div> 
                  {% endfor %} 
                </div>
        
                <div class="form-group col-md-10 mb-2">
                  {{ registered_form.email.label }} <br> 
                  {{ registered_form.email(value=all_items[2][0]["Email"])}} <br> 
                  <!-- Error Message -->
                  {% for message in registered_form.email.errors %} 
                    <div class="text-danger">{{message}}</div> 
                  {% endfor %} 
                </div>
    
                <div class="form-group col-md-10 mb-2">
                  {{ registered_form.card_number.label }} <br> 
                  {{ registered_form.card_number(value=all_items[2][0]["CardNumber"])}} <br> 
                  <!-- Error Message -->
                  {% for message in registered_form.card_number.errors %} 
                    <div class="text-danger">{{message}}</div> 
                  {% endfor %} 
                </div>
        
                  <!-- {{ form.submit }}  -->
                </div>
            </div>
            <!-- <input type="submit" name="Go Back to home" class="btn btn-success col-md-12 my-3"/> -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
          </form>
      </div>
    </div>
  </div>

  <div class="container-sm m-5">
    <h1 class="my-4">Your Account
      <span><a href="" class="text-primary h4 p-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a></span>
    </h1>
    
    <ul class="list-unstyled mx-5">
      <!--Name, Address, Phone-->
      <li class="my-5">
        <h4>1. User information</h4>
        <table class="table table-borderless" style="width: auto;">
          <tbody>
            <tr>
              <th scope="row">Name:</th>
              <td>{{all_items[2][0]["FirstName"]}} {{all_items[2][0]["LastName"]}}</td>
            </tr>
            <tr>
              <th scope="row">Address:</th>
              <td>{{all_items[2][0]["Address"]}}</td>
            </tr>
            <tr>
              <th scope="row">Phone:</th>
              <td>{{all_items[2][0]["Phone"]}}</td>
            </tr>
          </tbody>
        </table>
      </li>
      
      
      <li class="my-5">
        <h4>2. Payment Method</h3>
        <table class="table table-borderless" style="width: auto;">
          <tbody>
            <tr>
              <th scope="row">Card 1:</th>
              <td>Visa : {{all_items[2][0]["CardNumber"]}}   <span class="mx-2 text-danger">(Need to show only last 4 digits)</span></td>
            </tr>
            <!-- <tr>
              <th scope="row">Card 2:</th>
              <td>Visa : {{all_items[2][0]["CardNumber"]}}</td>
            </tr> -->
          </tbody>
        </table>
      </li>
      
      <!--Order history-->
      <li class="my-5">
        <h4>3. Order history</h3>
        <div class="row mx-1 mb-3">
          <div id="carousel-order-history" class="carousel">
            <div class="carousel-inner-order-history">
              {% for item in all_items[3]%}
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="{{item[9]}}" alt="..." class="img-sm">
                </div>
                <p class="text-center">{{item[5]}}</p>
              </div>
              {% endfor %}

            </div>
            <button class="carousel-control-order-history-prev" type="button" data-bs-target="#carousel-order-history" data-bs-slide="prev">
              <span class="carousel-control-order-history-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-order-history-next" type="button" data-bs-target="#carousel-order-history" data-bs-slide="next">
              <span class="carousel-control-order-history-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </li>
      <!--Wish list-->
      <li class="my-5">
        <h4>4. Wish list</h3>
        <div class="row mx-1 mb-3">
          <div id="carousel-wish-list" class="carousel">
            <div class="carousel-inner-wish-list">
              {% for item in all_items[4]%}
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="{{item[7]}}" alt="..." class="img-sm">
                </div>
                <p class="text-center">{{item[1]}}</p>
              </div>
              {% endfor %}

  
            </div>
            <button class="carousel-control-wish-list-prev" type="button" data-bs-target="#carousel-wish-list" data-bs-slide="prev">
              <span class="carousel-control-wish-list-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-wish-list-next" type="button" data-bs-target="#carousel-wish-list" data-bs-slide="next">
              <span class="carousel-control-wish-list-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </li>

    </ul>
  </div>

{% include "footer.html" %}
  
</body>
</html>