{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example">
  <!-- Navbar -->
  {% include "nav.html" %}

  <!-- {% for row in rows %} 
        <tr> 
            <td><h3>{{row["FirstName"]}}</h3></td> 
            <td><h3>{{row["LastName"]}}</h3></td>
            <td><h3>{{row["Address"]}}</h3></td>
            <td><h3>{{row["City"]}}</h3></td>
            <td><a href="/GetStudentByID/{{row[0]}}">Edit</a></td>
            <td><a href="/delete/{{row[0]}}">Delete</a></td>
        </tr> 
        {% endfor %}  -->

  <!--Account-->
  <div class="container-sm m-5">
    <h1 class="my-4">Your Account<a href="" class="text-primary h4 p-4">Edit</a></h1>
    <ul class="list-unstyled mx-5">
      <!--Name, Address, Phone-->
      {% for account in account_list %}
      <li class="my-5">
        <h4>1. User information</h3>
        <p class="m-4">
          <span>{{account["FirstName"]}}</span>
          <span class="mx-3">{{account["LastName"]}}</span>
        </p>
        <p class="m-4">
          <span>{{account["Address"]}}</span>
        </p>
        <p class="m-4">
          <span>{{account["Phone"]}}</span>
        </p>
      </li>
      {% endfor %}
      
      {% for account in account_list %}
      <li class="my-5">
        <h4>2. Payment Method</h3>
        <div class="m-4">
          <p>
            <span>Card 1:</span>
            <span>Visa : ****-****-1111</span>
          </p>
          <p>
            <span>Card 2:</span>
            <span>Visa : {{account["Phone"]}}</span>
          </p>
        </div>
      </li>
      {% endfor %}
      
      <!--Order history-->
      <li class="my-5">
        <h4>3. Order history</h3>
        <div class="row mx-1 mb-3">
          <div id="carousel-order-history" class="carousel">
            <div class="carousel-inner-order-history">
              
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-order-history">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
            </div>
            <button class="carousel-control-order-history-prev" type="button" data-bs-target="#carousel-order-history" data-bs-slide="prev">
              <span class="carousel-control-order-history-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-order-history-next" type="button" data-bs-target="#carousel-order-history" data-bs-slide="next">
              <span class="carousel-control-order-history-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </li>
      <!--Wish list-->
      <li class="my-5">
        <h4>4. Wish list</h3>
        <div class="row mx-1 mb-3">
          <div id="carousel-wish-list" class="carousel">
            <div class="carousel-inner-wish-list">
  
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
              <div class="carousel-item-wish-list">
                <div class="image-wrapper">
                  <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
                </div>
                <p>Category name</p>
              </div>
  
            </div>
            <button class="carousel-control-wish-list-prev" type="button" data-bs-target="#carousel-wish-list" data-bs-slide="prev">
              <span class="carousel-control-wish-list-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-wish-list-next" type="button" data-bs-target="#carousel-wish-list" data-bs-slide="next">
              <span class="carousel-control-wish-list-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </li>

    </ul>
  </div>

{% include "footer.html" %}
  
</body>
</html>