<!--Footer-->
<div class="bg-black">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 mx-5">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="../static/images/logo.png" class="d-block " alt="..." style="width: 70px">
            </a>
            <p class="text-white mx-2">&copy;2023</p>
        </div>
        <div class="col mb-3 text-white">
            <h5>Get to Know Us</h5>
            <ul class="nav flex-column">
                {% for item in footer_list%}
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">{{item[1]}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col mb-3 text-white">
            <h5>Make Money with Us</h5>
            <ul class="nav flex-column">
                {% for item in footer_list%}
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">{{item[2]}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col mb-3 text-white">
            <h5>Payment Products</h5>
            <ul class="nav flex-column">
                {% for item in footer_list%}
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">{{item[3]}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col mb-3 text-white">
            <h5>Let Us Help You</h5>
            <ul class="nav flex-column">
                {% for item in footer_list%}
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">{{item[4]}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </footer>
</div>