{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example">
  <!-- Navbar -->
  {% include "nav.html" %}

    <!--Item details and description -->
    <div class="container text-center mt-5">
      <div class="row">
        <div class="col">
          <h3>Apple Iphone 14, 256GB, Midnight</h3>
          <img src="https://m.media-amazon.com/images/I/51Yz9FaNIGL._AC_SX679_.jpg" alt="...">
        </div>
                
        <div class="col-6">
          <div class = "card" style="width: 30rem;">
            <p>Item Details</p>
            <ul class = "list-unstyled">
              <li class="">-</li>
              <li class="">-</li>
              <li class="">-</li>
            </ul>            
          </div>
        </div>
        <div class = "col">
          <div class = "card" style="width: 18rem;">
           <p>Payment</p>
           <ul class = "list-unstyled">
              <li class="">-</li>
              <li class="">-</li>
              <li class="">-</li>
           </ul>
          </div>


        </div>



      </div>
    </div>

    <!-- Row-3-->
    <div class="row mx-1 my-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Products related to this item</h5>
        <div id="carousel-related-items" class="carousel">
          <div class="carousel-inner-related-items">
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>

          </div>
          <button class="carousel-control-related-items-prev" type="button" data-bs-target="#carousel-related-items" data-bs-slide="prev">
            <span class="carousel-control-related-items-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-related-items-next" type="button" data-bs-target="#carousel-related-items" data-bs-slide="next">
            <span class="carousel-control-related-items-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Row-4-->
    <div class="row mx-1 mb-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Customers also search</h5>
        <div id="carousel-customers-search " class="carousel">
          <div class="carousel-inner-customers-search ">

            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>

          </div>
          <button class="carousel-control-customers-search-prev" type="button" data-bs-target="#carousel-customers-search " data-bs-slide="prev">
            <span class="carousel-control-customers-search-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-customers-search-next" type="button" data-bs-target="#carousel-customers-search " data-bs-slide="next">
            <span class="carousel-control-customers-search-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!--Footer-->
    {% include "footer.html" %}


  </body>
</html>