{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example">
  <!-- Navbar -->
  {% include "nav.html" %}

    
    <!--Items-->
    <div class="container text-center mt-5">
      <div class="row align-items-start">
        <!--Sidebar-->
        <div class="col-4">
          <ul class="list-group text-start">
          <li class="list-group-item">
          <ul class="list-unstyled">
            <p>Department</p>
          <li class="">-</li>
            <li class="">-</li>
            <li class="">-</li>
            </ul>
            <ul class="list-unstyled">
              <p>Review</p>
              <!--<li class=""><i class="fa-solid fa-star" style="color: #f7ef18;"></i>1 Star 😇 </li>-->
              <li class="">⭐️⭐️⭐️⭐️⭐️  5 Star 😇 </li>
              <li class="">⭐️⭐️⭐️⭐️   4  Star 😇 </li>
              <li class="">⭐️⭐️⭐️⭐️⭐️5 Star 😇 </li>
              <li class="">⭐️⭐️⭐️⭐️⭐️5 Star 😇 </li>
              <li class="">⭐️⭐️⭐️⭐️⭐️5 Star 😇 </li>
              <li class="">-</li>
              <li class="">-</li>
            </ul>
            <ul class="list-unstyled">
            <p>Brands</p>
            <li class="">-</li>
            <li class="">-</li>
            <li class="">-</li>
            </ul>
            <ul class="list-unstyled">
              <p>Prices</p>
              <li class="">-</li>
              <li class="">-</li>
              <li class="">-</li>
              </ul>
              <ul class="list-unstyled">
                <p>Deals & Discounts</p>
                <li class="">-</li>
                <li class="">-</li>
                <li class="">-</li>
                </ul>
                <ul class="list-unstyled">
                  <p>Item Weight</p>
                  <li class="">-</li>
                  <li class="">-</li>
                  <li class="">-</li>
                  </ul>
                  <ul class="list-unstyled">
                    <p>Item Condition</p>
                    <li class="">-</li>
                    <li class="">-</li>
                    <li class="">-</li>
                    </ul>
                    <ul class="list-unstyled">
                      <p>Availability</p>
                      <li class="">-</li>
                      <li class="">-</li>
                      <li class="">-</li>
                      </ul>
          </li>
          </ul>
            </div>
        
        <!--Items-->
        <div class="col-8">
          <!--First Card-->
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://m.media-amazon.com/images/I/61CGHv6kmWL._AC_UY436_FMwebp_QL65_.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">BENGOO G9000 Stereo Gaming Headset</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--Second Card-->
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://m.media-amazon.com/images/I/71HtN4qqLZL._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">SAMSUNG Galaxy S23 Ultra Cell Phone</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--Third Card-->
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://m.media-amazon.com/images/I/61qIbyY0NPL._AC_UL600_FMwebp_QL65_.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">NUBWO G06 Wireless Gaming Headset</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--Fourth Card-->
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://m.media-amazon.com/images/I/518bzP8VW1L._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Apple iPhone 14 Pro</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <!--Fifth Card-->
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://m.media-amazon.com/images/I/71xNjrzG69L._AC_UY327_FMwebp_QL65_.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Logitech G733 Lightspeed Wireless Gaming Headset</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>


        </div>



      </div>
    </div>

    <!--Footer-->
    {% include "footer.html" %}
  </body>
</html>