{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example">
  <!-- Navbar -->
  {% include "nav.html" %}

    <!--Item details and description -->
    <div class="container text-center mt-5">
      <div class="row">
        <div class="col">
          <h3>Apple Iphone 14, 256GB, Midnight</h3>
          <img src="https://m.media-amazon.com/images/I/51Yz9FaNIGL._AC_SX679_.jpg" alt="...">
        </div>
                
        <div class="col-6">
          <div class = "card" style="width: 30rem;">
            <p>Item Details</p>
            <ul class = "list-unstyled">
              <li class="">Apple Iphone 14, 256GB, Midnight</li>
              <li class=""> 5 ⭐️⭐️⭐️⭐️⭐️</li>
              <li class="">$ 707</li>
              <li class="">Color: Midnight</li>
              <li class="">Service Provided: Unlocked</li>
              <li class="">Size: 256GB</li>
            </ul>            
          </div>
          <br>
          <div class = "card" style="width: 30rem;">            
            <ul class = "list-unstyled">
              <li class="">Brand : Apple </li>
              <li class="">Model Name : Iphone 14</li>
              <li class="">Wireless Carrier : Unlocked</li>
              <li class="">Cellular Technology : 5G</li>
              <li class="">Memory Storage Capacity : 256GB</li>
              <li class="">Connectivity technologies : Wi-Fi</li>
              <li class="">Color : Midnight</li>
              <li class="">Screen Size : 6.1 Inches</li>
              <li class="">Wireless Network Technology : GSM, LTE</li>
              <li class="">SIM Card Slot Count : Dual-SIM</li>
            </ul>            
          </div>
          <br>
      <!--<div class = "card" style="width: 30rem;">            
            <ul class = "list-unstyled">
              <li class="">Vibrant 6.1-inch Super Retina XDR display with OLED technology. Action mode for smooth, steady, handheld videos.</li>
              <br>
              <li class="">High resolution & color accuracy make everything look sharp & true to life.</li>
              <br>
              <li class="">New Main camera & improved image processing to capture your shots in all kinds of light - especially low light.</li>
              <br>
              <li class="">4K Cinematic mode at 24 fps automatically shifts focus to the most important subject in a scene.</li>
              <br>
              <li class="">A15 Bionic, with a 5-core GPU for lightning-fast performance. Superfast 5G.</li>
              <br>
              <li class="">Manufacturer: Apple Computer</li>
            </ul>            
          </div> -->
        </div>

        <div class = "col">
          <div class = "card" style="width: 18rem;">
           <p>Payment</p>
           <ul class = "list-unstyled">
              <li class="">Good condition</li>
              <li class="">Price: $ 707</li>
              <li class="">Delivery May 29 - June 16</li>
              <li class="">Fast delivery May 29 - June 6</li>
              <br>
              <li class="">Delivery to New Zealand</li>
              <br>
              <a href="/payment">
                <button type="button" class="btn btn-primary">Pay Now</button>
              </a>
              <br>
              <br>
              <li class="">Acceptable condition (Refurbished) 689.99$ </li>
           </ul>
          </div>


        </div>



      </div>
    </div>

    <!-- Row-3-->
    <div class="row mx-1 my-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Products related to this item</h5>
        <div id="carousel-related-items" class="carousel">
          <div class="carousel-inner-related-items">
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <p>Product name</p>
            </div>

          </div>
          <button class="carousel-control-related-items-prev" type="button" data-bs-target="#carousel-related-items" data-bs-slide="prev">
            <span class="carousel-control-related-items-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-related-items-next" type="button" data-bs-target="#carousel-related-items" data-bs-slide="next">
            <span class="carousel-control-related-items-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Row-4-->
    <div class="row mx-1 mb-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Customers also search</h5>
        <div id="carousel-customers-search " class="carousel">
          <div class="carousel-inner-customers-search ">

            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            <div class="carousel-item-customers-search ">
              <div class="image-wrapper">
                <img src="https://i.etsystatic.com/11394497/r/il/59f935/3629235433/il_fullxfull.3629235433_4l5e.jpg" alt="...">
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text"><small class="text-body-secondary">Item detail. Bob is a Minion who is more childish and immature than most of the other Minions.</small></p>
                <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-star" style="color: #ffd500;"></i>Rating</small></p>
                <p class="card-text">NZ$100</p>
                <p class="card-text"><small class="text-body-secondary">Item detail comes here</small></p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>

          </div>
          <button class="carousel-control-customers-search-prev" type="button" data-bs-target="#carousel-customers-search " data-bs-slide="prev">
            <span class="carousel-control-customers-search-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-customers-search-next" type="button" data-bs-target="#carousel-customers-search " data-bs-slide="next">
            <span class="carousel-control-customers-search-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!--Footer-->
    {% include "footer.html" %}


  </body>
</html>