{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example">
  <!-- Navbar -->
  {% include "nav.html" %}

    <!--Item details and description -->
    <div class="container text-center mt-10">
      <div class="row">
        <div class="col">
          <h3 class="mb-3">{{item_detail[0]["ItemName"]}}</h3>
          <img class="img-lg" src="{{item_detail[0]['ImageURL']}}" alt="...">
        </div>
                
        <div class="col-6">
          <h4 class="text-center">Item Detail</h4>
          <div class = "card text-start p-3" style="width: 40rem;">
            <ul class = "list-unstyled">
              <li class="py-1">{{item_detail[0]['Detail']}}</li>
              <li class="py-1">
                {{item_detail[0]['Rating']}}
                {% for n in range(item_detail[0]['Rating']) %}
                <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                {% endfor%}
              </li>
              <li class="py-1">$ {{item_detail[0]['Price']}}</li>
              <!-- <li class="">Color: Midnight</li>
              <li class="">Service Provided: Unlocked</li>
              <li class="">Size: 256GB</li> -->
            </ul>            
          </div>
          <br>
          <div class = "card" style="width: 40rem;">            
            <ul class = "text-start">
              {% for line in another_detail_list%}
                <li class="">{{line}}</li>
              {% endfor%}
            </ul>            
          </div>
          <br>
        </div>

        <div class = "col">
          <h4 class="text-center">Payment</h4>
          <div class = "card p-2" style="width: 18rem;">
            <div class="d-flex justify-content-between p-2">
              <p class="m-0">Price:</p>
              <p class="m-0">$ {{item_detail[0]['Price']}}</p>
            </div>
            <!-- <div class="d-flex justify-content-between">
              <p class="m-0">Shipping & handeling:</p>
              <p class="m-0">$ 10</p>
            </div> -->
            <ul class="list-unstyled text-danger my-3">
              <li>Estimated Delivery Date:</li>
              <li>{{delivery_date}}</li>
            </ul>

            <p>Delivery to New Zealand</p>

            {% if current_user_id == 'None' %}
              <a class="d-grid gap-2 p-2" href="/signin">
                <button type="button" class="btn btn-success">Order</button>
              </a>
              <!-- <a class="d-grid gap-2 p-2" href="/payment/guest">
                <button type="button" class="btn btn-secondary">Order as Guest</button>
              </a> -->
              <p><small>(Please enter your information before your order)</small></p>
            {% else %}
              <form action="/add_cart/{{item_detail[0][0]}}", method="post">
                <div class="">
                  <span>Item Count: </span>
                  <input type="number" id="" name="quantity" min="1" max="5" value="1">
                </div>
                <a class="d-grid gap-2 p-2" href="/add_cart/{{item_detail[0][0]}}">
                  <button type="submit" class="btn btn-secondary">Add Cart</button>
                </a>
                <a class="d-grid gap-2 p-2">
                  <button type="submit" class="btn btn-success" formaction="/pay_now/{{item_detail[0][0]}}" name = "go_payment" value="go_payment">Pay Now</button>
                </a>
              </form>
            {% endif %}

          </div>
          <form class="text-end px-2" action="/", method="post">
            <button type="submit" class="btn btn-link"><i class="fa-solid fa-circle-plus"></i> Add to Wish list</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Row-3-->
    <div class="row mx-1 my-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Products related to this item</h5>
        <div id="carousel-related-items" class="carousel">
          <div class="carousel-inner-related-items">
            {% for item in related_items %}
            <div class="carousel-item-related-items">
              <div class="image-wrapper">
                <a href="/show_items/{{item[0]}}">
                  <img src="{{item[7]}}" alt="..." class="img-sm">
                </a>
              </div>
              <p class="text-center">{{item[1]}}</p>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-related-items-prev" type="button" data-bs-target="#carousel-related-items" data-bs-slide="prev">
            <span class="carousel-control-related-items-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-related-items-next" type="button" data-bs-target="#carousel-related-items" data-bs-slide="next">
            <span class="carousel-control-related-items-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Row-4-->
    <div class="row mx-1 mb-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Customers also search</h5>
        <div id="carousel-customers-search " class="carousel">
          <div class="carousel-inner-customers-search">
            {% for item in searched_items %}
            <div class="carousel-item-customers-search">
              <div class="image-wrapper">
                <a href="/show_items/{{item[0]}}">
                  <img src="{{item[7]}}" alt="..." class="img-sm">
                </a>
              </div>
              <p class="text-center">{{item[1]}}</p>
              <div class="card-body text-center">
                <p class="card-text"><small class="text-body-secondary">{{item[4]}}</small></p>
                {{item["Rating"]}}
                {% for n in range(item[5]) %}
                  <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                {% endfor%}
                <p class="card-text mt-2">$ {{item[3]}}</p>
              </div>
            </div>
            {% endfor %}

          </div>
          <button class="carousel-control-customers-search-prev" type="button" data-bs-target="#carousel-customers-search" data-bs-slide="prev">
            <span class="carousel-control-customers-search-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-customers-search-next" type="button" data-bs-target="#carousel-customers-search" data-bs-slide="next">
            <span class="carousel-control-customers-search-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Customer Reviews　-->
    <div class="container mt-5">  
      <div class="row align-items-start">
        
        <!--Sidebar-->
        <div class="col-3 card list-unstyled mx-2 text-start p-3">
          <h5 class="m-3">Customer Reviews:</h5>
          <ul>
            <li class="d-flex justify-content-between">
              <p class="px-2">5 Star</p>
              <div class="col progress mt-1">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="px-2">10 %</small>
            </li>
            <li class="d-flex justify-content-between">
              <p class="px-2">4 Star</p>
              <div class="col progress mt-1">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="px-2">10 %</small>
            </li>
            <li class="d-flex justify-content-between">
              <p class="px-2">3 Star</p>
              <div class="col progress mt-1">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="px-2">10 %</small>
            </li>
            <li class="d-flex justify-content-between">
              <p class="px-2">2 Star</p>
              <div class="col progress mt-1">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="px-2">10 %</small>
            </li>
            <li class="d-flex justify-content-between">
              <p class="px-2">1 Star</p>
              <div class="col progress mt-1">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="px-2">10 %</small>
            </li>
          </ul>
        </div>
      
        <!--Comments-->
        <div class="col-7">
            <div class="card mb-3 text-start" style="max-width: 1000px;">
              <div class="row g-0 p-4">
                <p><i class="fa-solid fa-user fa-xl"></i><span class="px-3">title</span></p>
                <p class="text-body-secondary">
                  {% for n in range(5) %}
                  <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                  {% endfor%}
                  <span>3</span>
                </p>
                <p>--------</p>
              </div>
            </div>

        </div>
      </div>
    </div>









    <!--Footer-->
    {% include "footer.html" %}


  </body>
</html>