<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<body class="p-0 m-0 border-0 bd-example bg-black">
  <!-- Navbar -->
  {% include "nav.html" %}

  <!--Carousel-->
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height: 250px">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://m.media-amazon.com/images/I/71tIrZqybrL._SX3000_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://m.media-amazon.com/images/I/61TD5JLGhIL._SX3000_.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/71qid7QFWJL._SX3000_.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Items-->
  <div class="container text-center pb-5 border-bottom">  
    <!-- Row-1-->
    <div class="row mb-3">
      <!-- Row-1 Col-1-->
      {% if current_user_id == 'None' %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <h5 class="card-title p-3">Electronics</h5>
            <a href="/show_item/{{recently_viewed_list[0][2]}}">
              <img src="{{recently_viewed_list[0][7]}}" class="card-img-top img-lg" alt="...">
            </a>
            <p class="text-white">-</p>
            <p><a href="/show_item/{{recently_viewed_list[0][2]}}" class="text-decoration-none">see more</a></p>
          </div>
        </div>
      {% else %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <h5 class="card-title p-3">Recently viewed</h5>
            <div class="row">
              <div class="col">
                <a href="/show_items/{{recently_viewed_list[0][4]}}">
                  <img src="{{recently_viewed_list[0][11]}}" class="card-img-top img-sm" alt="...">
                </a>
                <p>{{recently_viewed_list[0][5]}}</p>
              </div>
              <div class="col img-sm">
                <a href="/show_items/{{recently_viewed_list[1][4]}}">
                  <img src="{{recently_viewed_list[1][11]}}" class="card-img-top img-sm" alt="...">
                </a>
                <p>{{recently_viewed_list[1][5]}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="/show_items/{{recently_viewed_list[2][4]}}">
                  <img src="{{recently_viewed_list[2][11]}}" class="card-img-top img-sm" alt="...">
                </a>
                <p>{{recently_viewed_list[2][5]}}</p>
              </div>
              <div class="col">
                <a href="/show_items/{{recently_viewed_list[3][4]}}">
                  <img src="{{recently_viewed_list[3][11]}}" class="card-img-top img-sm" alt="...">
                </a>
                <p>{{recently_viewed_list[3][5]}}</p>
              </div>
            </div>
            <p><a>see more</a></p>
          </div>
        </div>
      {% endif %}

      <!-- Row-1 Col-2-->
      <div class="col">
        <div class="card" style="width: 18rem">
          <h5 class="card-title p-3">Recommended</h5>
          <a href="/show_items/{{recommended_list[0][0]}}">
            <img src="{{recommended_list[0][7]}}" class="card-img-top img-lg" alt="...">
          </a>
          <p>{{recommended_list[0][1]}}</p>
          <p><a href="/show_item/{{recommended_list[0][2]}}" class="text-decoration-none">see more</a></p>
        </div>
      </div>


      <!-- Row-1 Col-3-->
      {% if current_user_id == 'None' %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <h5 class="card-title p-3">Health & Personal Care</h5>
            <a href="/show_item/{{order_list[0][2]}}">
              <img src="{{order_list[0][7]}}" class="card-img-top img-lg" alt="...">
            </a>
            <p class="text-white">-</p>
            <p><a href="/show_item/{{order_list[0][2]}}" class="text-decoration-none">see more</a></p>
          </div>
        </div>

      {% else %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <h5 class="card-title p-3">Buy again</h5>
            <div class="row">
              <div class="col">
                <a href="">
                <!-- <a href="/show_items/{{order_list[0][4]}}"> -->
                  <img src="{{order_list[0][11]}}" class="card-img-top img-sm" alt="...">
                </a>  
                <p>{{order_list[0][5]}}</p>
              </div>
              <div class="col img-sm">
                <img src="{{order_list[1][11]}}" class="card-img-top img-sm" alt="...">
                <p>{{order_list[1][5]}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="{{order_list[2][11]}}" class="card-img-top img-sm" alt="...">
                <p>{{order_list[2][5]}}</p>
              </div>
              <div class="col">
                <img src="{{order_list[3][11]}}" class="card-img-top img-sm" alt="...">
                <p>{{order_list[3][5]}}</p>
              </div>
            </div>
            <p><a>see more</a></p>
          </div>
        </div>
      {% endif %}
      
      
      
      <!-- Row-1 Col-4-->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title p-3">Great deal</h5>
          <div class="row">
            <div class="col">
              <a href="/show_items/{{deal_list[0][0]}}">
                <img src="{{deal_list[0][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{deal_list[0][1]}}</p>
            </div>
            <div class="col img-sm">
              <a href="/show_items/{{deal_list[1][0]}}">
                <img src="{{deal_list[1][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{deal_list[1][1]}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="/show_items/{{deal_list[2][0]}}">
                <img src="{{deal_list[2][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{deal_list[2][1]}}</p>
            </div>
            <div class="col">
              <a href="/show_items/{{deal_list[3][0]}}">
                <img src="{{deal_list[3][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{deal_list[3][1]}}</p>
            </div>
          </div>
          <p><a href="/show_item/tag={{deal_list[0][8]}}" class="text-decoration-none">see more</a></p>
        </div>
      </div>

    </div>

    <!-- Row-2-->
    <div class="row mb-3">
      <!-- Row-2 Col-1-->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title p-3">Popular now</h5>
          <div class="row">
            <div class="col">
              <a href="/show_items/{{popular_list[0][4]}}">
                <img src="{{popular_list[0][11]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{popular_list[0][5]}}</p>
            </div>
            <div class="col img-sm">
              <a href="/show_items/{{popular_list[1][4]}}">
                <img src="{{popular_list[1][11]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{popular_list[1][5]}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="/show_items/{{popular_list[2][4]}}">
                <img src="{{popular_list[2][11]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{popular_list[2][5]}}</p>
            </div>
            <div class="col">
              <a href="/show_items/{{popular_list[3][4]}}">
                <img src="{{popular_list[3][11]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{popular_list[3][5]}}</p>
            </div>
          </div>
          <p>see more</p>
        </div>
      </div>

      <!-- Row-2 Col-2-->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title p-3">Pick Up</h5>
          <div class="row">
            <div class="col">
              <a href="/show_items/{{pickup_list[0][0]}}">
                <img src="{{pickup_list[0][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{pickup_list[0][1]}}</p>
            </div>
            <div class="col img-sm">
              <a href="/show_items/{{pickup_list[1][0]}}">
                <img src="{{pickup_list[1][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{pickup_list[1][1]}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="/show_items/{{pickup_list[2][0]}}">
                <img src="{{pickup_list[2][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{pickup_list[2][1]}}</p>
            </div>
            <div class="col">
              <a href="/show_items/{{pickup_list[3][0]}}">
                <img src="{{pickup_list[3][7]}}" class="card-img-top img-sm" alt="...">
              </a>
              <p>{{pickup_list[3][1]}}</p>
            </div>
          </div>
          <p><a href="/show_item/tag={{pickup_list[0][8]}}" class="text-decoration-none">see more</a></p>
        </div>
      </div>

      <!-- Row-2 Col-3-->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title p-3">Get fit at home</h5>
          <img src="{{fitness_list[0][7]}}" class="card-img-top img-lg" alt="...">
          <p class="text-white">-</p>
          <p><a href="/show_item/{{fitness_list[0][2]}}" class="text-decoration-none">see more</a></p>
        </div>
      </div>
      

      <!-- Row-2 Col-4-->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h5 class="card-title p-3">Deals & Promotion</h5>
          <img src="{{promotion_list[0][7]}}" class="card-img-top img-lg" alt="...">
          <p class="text-white">-</p>
          <p><a href="/show_item/tag={{deal_list[0][8]}}" class="text-decoration-none">see more</a></p>
        </div>
      </div>
    </div>
    
    <!-- Row-3-->
    <div class="row mx-1 mb-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">Top Categories</h5>
        <div id="carousel-top-categories" class="carousel">
          <div class="carousel-inner-top-categories">
            {% for item in category_list %}
            <div class="carousel-item-top-categories">
              <div class="image-wrapper">
                <a href="/show_item/{{item[1]}}">
                  <img src="{{item[2]}}" class="card-img-top img-sm" alt="...">
                </a>
              </div>
              <p>{{item[1]}}</p>
            </div>
            {% endfor %}

          </div>
          <button class="carousel-control-top-categories-prev" type="button" data-bs-target="#carousel-top-categories" data-bs-slide="prev">
            <span class="carousel-control-top-categories-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-top-categories-next" type="button" data-bs-target="#carousel-top-categories" data-bs-slide="next">
            <span class="carousel-control-top-categories-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>


    <!-- Row-4-->
    <div class="row mx-1 mb-3">
      <div class="card">
        <h5 class="card-title p-3 text-start">For you</h5>
        <div id="carousel-for-you" class="carousel">
          <div class="carousel-inner-for-you">

            {% for item in for_you_list %}
            <div class="carousel-item-for-you">
              <div class="image-wrapper">
                <a href="/show_items/{{item[0]}}">
                  <img src="{{item[7]}}" alt="..." class="img-sm">
                </a>
              </div>
              <div class="card-body">
                <!--<h5 class="card-title">Card title</h5>-->
                <p class="card-text truncate"><small class="text-body-secondary">{{item[4]}}</small></p>
                <p class="card-text">
                  <small class="text-body-secondary">Rating
                    {{item[5]}}
                    {% for n in range(item[5]) %}
                    <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                    {% endfor%}
                  </small>
                </p>
                <p class="card-text">NZD {{item[3]}}</p>
                <!--<a href="#" class="btn btn-primary">Detail</a>-->
              </div>
            </div>
            {% endfor %}

          </div>
          <button class="carousel-control-for-you-prev" type="button" data-bs-target="#carousel-for-you" data-bs-slide="prev">
            <span class="carousel-control-for-you-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-for-you-next" type="button" data-bs-target="#carousel-for-you" data-bs-slide="next">
            <span class="carousel-control-for-you-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

  </div>

{% include "footer.html" %}
  
</body>
</html>