<!-- Header -->
{% include "header.html" %}

<body class="p-0 m-0 border-0 bd-example">
   <!-- Navbar -->
  {% include "nav.html" %}
    
  <!--Item details and description -->
  <div class="container text-center mt-5">
    <div class="row">
      <!--<div class="col">
        <h3>Apple Iphone 14, 256GB, Midnight</h3>
        <img src="https://m.media-amazon.com/images/I/51Yz9FaNIGL._AC_SX679_.jpg" alt="...">
      </div>-->
              
      <div class="col-9 text-start">
        <div class = "card" style="width: 60rem;">
          <div class="col">
            <h4>1. Shipping Address</h4>
          </div>
          <ul class = "list-unstyled">
            <li class="">John Wick</li>
            <li class="">Unit900, 75 Victoria Street West</li>
            <li class="">Victoria Residence</li>
            <li class="">Auckland CBD, Auckland 1010</li>
          </ul>            
        </div>
        <br>
        <div class="col">
          <h4>2. Choose a payment method</h4>
        </div> 
        <br>
        <div class = "card" style="width: 60rem;">           
          <ul class = "list-unstyled">
            <h5>affirm</h5>
            <li class="">John, pay $46,28/month or less for 24 months when you select Affirm as your payment method.</li>
            <button type="button" class="btn btn-primary">
              Learn More <a href="/payment"></a>
            </button>
          </ul>            
        </div>
        <br>
        <div class = "card" style="width: 60rem;">           
          <ul class = "list-unstyled">
            <h5>Your credit and debit cards</h5>
            <li class="">+ Add a credit or debit card</li>       
          </ul>            
        </div>
        <br>
        <div class = "card" style="width: 60rem;">           
          <ul class = "list-unstyled">
            <h5>Payment plans</h5>
            <li class="">Pay over time with Affirm</li>  
            <li class="">Ineligible for this order. Learn more</li>     
          </ul>            
        </div>
        <br>
        <div class = "card" style="width: 60rem;">           
          <ul class = "list-unstyled">
            <h5>Other payment methods</h5>
            <li class="">+ Learn more about the EC Store Card > Access to exclusive financing offers. Zero fraud liability. </li>  
            <li class="">+ Add a personal checking account
              <li>Use your personal checking account
                <li>Learn more</li>
              </li>
            </li>
            <li class="">+ Add your Venmo account</li>     
          </ul>            
        </div>
        <br>
        <div class = "card" style="width: 60rem;">
          <div class="col">
            <h4>3. Offers</h4>
          </div>
          </ul>            
        </div>
        <br>
        <div class = "card" style="width: 60rem;">
          <div class="col">
            <h4>4. Items and Shipping</h4>
          </div>
          </ul>            
        </div>

          <!--<div class = "card" style="width: 30rem;">            
          <ul class = "list-unstyled">
            <li class="">Vibrant 6.1-inch Super Retina XDR display with OLED technology. Action mode for smooth, steady, handheld videos.</li>
            <br>
            <li class="">High resolution & color accuracy make everything look sharp & true to life.</li>
            <br>
            <li class="">New Main camera & improved image processing to capture your shots in all kinds of light - especially low light.</li>
            <br>
            <li class="">4K Cinematic mode at 24 fps automatically shifts focus to the most important subject in a scene.</li>
            <br>
            <li class="">A15 Bionic, with a 5-core GPU for lightning-fast performance. Superfast 5G.</li>
            <br>
            <li class="">Manufacturer: Apple Computer</li>
          </ul>            
        </div> -->
      </div>

      <div class = "col">
        <div class = "card" style="width: 18rem;">
         <p>Use this payment method</p>
         <ul class = "list-unstyled">
            <li class="">Choose a payment method to continue checking out. You'll still have a chance to review and edit your order before it's final.</li>
            <li class="">___________________________________________</li>
            <br>
            <h4>Order summary</h4>
            <li class="">Items: $ 707</li>
            <li class="">Shipping & handeling: --</li>
            <li class="">_______________________</li>
            <br>
            <li class="">Total before tax: --</li>
            <li class="">Estimated tax to be collected: --</li>
            <li class="">Import Fees Deposit: --</li>
            <li class="">______________________________________</li>
            <h4>Order Total:  --</h4>
            <li class="">___________________________________________</li>
            <br>
            <li class="">You can track your shipment and view any applicable import fees deposit before placing your order. Learn more </li>
            <br>
            <li class="">How are shipping costs calculated?</li>
            <br>
         </ul>
        </div>


      </div>



    </div>
  </div>

  


  

   <!--Footer-->
  {% include "footer.html" %}


  </body>
</html>