<!-- Header -->
{% include "header.html" %}

<body class="p-0 m-0 border-0 bd-example">
   <!-- Navbar -->
  {% include "nav.html" %}
    
  <!--Item details and description -->
  <div class="container text-start mt-5">
    <div class="row">
      <div class="col-9">
        <h3>1. Shipping Address</h3>        
        <div class = "card p-3 mb-3" style="width: 60rem;">
          <div class="row">
            <div class="col-11">
              <ul class = "list-unstyled">
                <li class="">{{user_list[1]}} {{user_list[2]}}</li>
                <li class="">{{user_list[3]}}</li>
              </ul>            
            </div>
            <div class="col-1">
              <a href="">Edit</a>
            </div>
          </div>
        </div>

        <h3>2. Choose a payment method</h3>   
        <div class = "card p-3 mb-3" style="width: 60rem;">
          <div class="row">
            <div class="col-11">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Visa: {{user_list["CardNumber"]}}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Visa: ****-****-2222 (Need to show last 4 digits)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Pay later
                </label>
              </div>
            </div>

            <div class="col-1">
              <a href="">Edit</a>
            </div>
          </div>
        </div>
        

        <h3 >3. Offers</h3>
        <div class="card p-3 mb-3" style="width: 60rem;">
          {% for item in cart_list %}
            <div class="text-start">
              <div class="row">
                <div class="col-4 p-2 text-center m-auto">
                    <img src="{{item[11]}}" class="img-fluid rounded-start img-sm" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body my-0 py-2">
                    <h5 class="card-title">{{item["ItemName"]}}</h5>
                    <p class="card-text">{{item["Detail"]}}</p>
                    <small class="text-body-secondary">Rating
                      {{item[9]}}
                      {% for n in range(item[9]) %}
                      <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                      {% endfor%}
                    </small><br>
                    <div class="my-2">
                      <span>Item Count: </span>
                      <form action="update_cart/{{item[0]}}", method="post">
                        <input type="number" id="" name="quantity" min="1" max="5" value="{{item[12]}}">
                        <button type="submit" class="btn btn-link" name="update">Update</button>
                        <button type="submit" class="btn btn-link" name="delete" formaction="delete_cart/{{item[0]}}">Delete</button>
                      </form>
                    </div>
                    <p class="card-text my-2">NZD {{item["Price"]}}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-0">
          {% endfor %}        
        </div>

        <h3>4. Shipping</h3>   
        <div class = "card p-3 mb-3" style="width: 60rem;">
          <p>Estimated Delivery Date: <span class="mx-3">{{delivery_date}}</span></p>
        </div>


      </div>

      <div class = "col">
        <h3>Order Summary</h3>
        <div class = "card p-3" style="width: 18rem;">
          <div class="d-flex justify-content-between">
            <p class="m-0">Items:</p>
            <p class="m-0">$ {{total_cost}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="m-0">Shipping & handeling:</p>
            <p class="m-0">$ 10</p>
          </div>
          <hr>
          <div class="d-flex justify-content-between text-danger mb-3">
            <h5 class="m-0">Order Total:</h5>
            <h5 class="m-0">$ {{total_cost + 10}}</h5>
          </div>
          <button class="btn btn-success my-3">
            <a href="/success/order" class="text-decoration-none text-white">Place your order</a>
          </button>
          <p class="text-end"><small>Estimated Delivery Date: {{delivery_date}}</small></p>
        </div>
      </div>

    </div>
  </div>

   <!--Footer-->
  {% include "footer.html" %}

  </body>
</html>