<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<body class="py-0 m-0 border-0 bd-example">
  <div class="d-flex justify-content-center mt-5 text-danger pt-5 mt-5">
      {% with messages = get_flashed_messages() %}
          {% if messages %} 
              <ul class='mesage'> 
                  {% for message in messages %} 
                      <li>{{ message }}</li> 
                  {% endfor %} 
              </ul> 
          {% endif %} 
      {% endwith %}
  </div>
  
    
  <!--Registration Form-->
  <div class="d-flex justify-content-center">
    <!-- WTForms -->
    <form class="card p-4" action="/register_item", method="post" style="width: 30rem;">
      {{ form.hidden_tag() }} 

      <h2 class="text-start">Add Item</h2>
      <div class="form-row">
        <div class="form-group col-md-10 mb-2">
          {{ form.ItemName.label }} <br> 
          {{ form.ItemName }} <br> 
          <!-- Error Message -->
          {% for message in form.ItemName.errors %} 
            <div class="text-danger">{{message}}</div> 
          {% endfor %} 
        </div>

        <div class="form-group col-md-10 mb-2">
          {{ form.Category.label }} <br> 
          {{ form.Category }} <br> 
          <!-- Error Message -->
          {% for message in form.Category.errors %} 
            <div class="text-danger">{{message}}</div> 
          {% endfor %} 
        </div>

          <!-- {{ form.submit }}  -->
        </div>
      </div>
      <input type="submit" name="Go Back to home" class="btn btn-success col-md-12 my-3"/>



      <hr class="my-5">
      <p>Already have an account?<span class="px-2"><a href="/signin">Sign in</a></span></p>
    </form>

    
  </div>


</body>
</html>