<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<body class="py-0 m-0 border-0 bd-example">
  
  <!--Registration Form-->
  <div class="d-flex justify-content-center my-5">
    <form class="card p-4" action="/add_account", method="post">
      <h2 class="text-start">Create account</h2>
      <div class="form-row">
        <div class="form-group col-md-6 mb-2">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="ex) John">
        </div>

        <div class="form-group col-md-6 mb-2">
          <label for="inputlastName">Last Name</label>
          <input type="text" class="form-control" id="inputlastName" name="inputLastName" placeholder="ex) Wick">
        </div>

        <div class="form-group col-md-6 mb-2">
          <label for="inputMobile">Phone Number</label>
          <input type="text" class="form-control" id="inputPhone" name="inputPhone" placeholder="ex) 012-3456-7890">
        </div>

        <div class="form-group col-md-6 mb-2">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="ex) email@gmail.com">
        </div>

        <div class="form-group col-md-8 mb-2">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="At least 6 characters">
          <p><i class="fa-solid fa-circle-info"></i> Password must be at least 6 characters</p>
        </div>
        <div class="form-group col-md-6 mb-5">
          <label for="inputConfirmPassword">Re-Enter Password</label>
          <input type="password" class="form-control" id="inputConfirmPassword" name="inputConfirmPassword" placeholder="Re-Enter Password">
        </div>
      </div>

      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Account successfully added
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button> -->
              <input type="submit" name="Go Back to home" class="btn btn-success col-md-12" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-5">
      <p>Already have an account?<span class="px-2"><a href="/signin">Sign in</a></span></p>
    </form>
  </div>


</body>
</html>