<!-- Header -->
{% include "header.html" %}

<!-- Body -->
<body class="py-0 px-0 m-0 border-0 bd-example">

  <!-- Alert -->
  {% with messages = get_flashed_messages() %}
  {% if messages %} 
      {% for message in messages %} 
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div> 
      {% endfor %} 
  {% endif %} 
  {% endwith %}

  <!--Registration Form-->
  <div class="d-flex justify-content-center pt-5 mt-5">
    <form class="card p-4" action="/signin_user", method="post">
      <h2 class="text-center">Sign in</h2>
      <div class="form-row">
        <div class="form-group col-md-6 mb-2">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password">
        </div>
      </div>
      <button type="submit" class="btn btn-success col-md-12 my-3">Continue</button>
      <hr class="my-5">
    </form>
  </div>
  <div class="d-flex justify-content-center">
    <p class="text-secondary">New to here?</p>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto width-600px">
    <button class="btn btn-secondary mb-2" type="button">
      <a href="/register" class="text-decoration-none text-white">Create your account</a>
    </button>
    <button class="btn btn-light btn-outline-secondary" type="button">
      <a href="/register_guest" class="text-decoration-none text-black">Continue as a guest</a>
    </button>
  </div>
  

  
</body>
</html>